* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: whitesmoke;
}

$color: #081158;

h1, h2 {
  color: $color;
  font-size: 43px;
}

h4 {
  margin-bottom: 13px;
}

// mixin-variables---------------------------------------------------------------------
@mixin button {
  background-color: $color;
  font-weight: bold;
  color: white;
  letter-spacing: 3px;
  padding: 8px 24px;
  border: 2px solid $color;
  border-radius: 30px;
  cursor: pointer;
}

@mixin hover {
  background-color: transparent;
  color: $color;
  transition: 0.3s;
}

@mixin span {
  background-color: black;
  color: yellow;
  padding: 6px 18px;
  border-radius: 30px;
  font-size: 11px;
}

  

  // responsiveness-----------------------------------------------------------------------
  @media only screen and (max-width: 1282px) {
    .intro {
      img {
        display: none;
      }
    }
  }

  @media only screen and (max-width: 1221px) {
    .about-us {
      img {
        display: none;
      }
    }
  }

  @media only screen and (max-width: 1037px) {
    footer {
      font-size: 13px;
      padding: 90px 50px;
    }
  }

  @media only screen and (max-width: 1000px) {
    header {
      width: 100%;
      nav {
        display: none;
      }

      div {
        .hamburger {
          i {
            display: block;
          }
        }
      }
    }
  }

  @media only screen and (max-width: 858px) {
    footer {
      display: grid;
      grid-template-columns: repeat(2, 40vw);
      gap: 60px;
    }
  }

  @media only screen and (max-width: 716px) {
    footer {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding-left: 160px;
    }
  }

